@page
@model Forma1Teams.Web.Pages.Errors.NotFoundModel
@{
    ViewData["Title"] = "404 Not Found";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sajnos a kért oldalt nem találtam  ¯\_(ツ)_/¯
                </div>
            </div>
        </div>
    </div>
</div>
